
.produtos{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#000,#001AFF);
}

.header-produtos{
    height: 150px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}
h2{
    font-size: 3rem;
    color: white;
}
.container-produtos{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.filtro-produtos{
    width: 20%;
    background-color: black;
    display: none;
    flex-direction: column;
}
.filtro-produtos.exibir{
    width: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
    justify-content: space-around;
    align-items: center;
}
.card-produto{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: black;
    padding: 8px;
    justify-content: center;
    transition: 1s ease-out;
    margin-top: 130px;
    
}
.card-produto:hover{
    box-shadow: 0 0 40px #00BFFF;
    cursor: pointer;
}
.imagem-produto{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 500%;
}
.imagem-produto img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}
.card-produto h3{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}
.descricao-produto{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}
.valorEcompra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    color: white;
}
.valor{
    font-size:1.5rem;
}
.botao{
    background-color: #001AFF;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    transition: all 1s linear;
    font-size: 1.1rem;
    text-transform: uppercase;
}
button:hover{
    background-color: #001AFF;
    box-shadow: 
    0 0 5px 0 #001AFF,
    0 0 25px 0 #001AFF,
    0 0 50px 0 #001AFF,
    0 0 75px 0 #001AFF;
    color: white;
}

.pesquisar-produto{
    margin-left: 10px;
    width: 240px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 0 5px blue;
    
}
.pesquisar-produto.active{
    width: 240px;
    height: 50px;
    background-color: teal;
    cursor: pointer;
    display: none;
    justify-content: space-around;
    align-items: center;
    
}
.navDePesquisa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}
.barraDePesquisa {
    flex-grow: 1;
    height: 50px;
    margin-top: 10px;
    background: transparent;
    border: none;
    border-bottom: 2.5px dashed blue;
    outline: none;
    color: wheat;
}
.barraDePesquisa:focus{
    border-bottom: 2.5px solid blue;
}
.botaoDePesquisa{
    margin-top: 10px;
    width: 140px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all 1s linear;
}
.botaoDePesquisa:hover{
    margin-top: 10px;
    width: 140px;
    height: 50px;
    background-color: #00BFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.cancelar-produto{
    width: 240px;
    height: 50px;
    background-color: teal;
    cursor: pointer;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.cancelar-produto.active2{
    width: 240px;
    height: 50px;
    background-color: blue;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
}

.categorias{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorias ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.categorias ul li{
    font-size: 2rem;
    color: white;
    transition: all 1s linear;
}
.categorias ul li:hover{
    font-size: 2rem;
    color: blue;
    cursor: pointer;
}